@import "rest.scss";


.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 99;
    overflow: hidden;

    .Navigation {
        position: relative;
        width: 1200px;
        height: 100px;
        background-color: #fff;
        margin: 0 auto;

        .Label {
            position: absolute;
            top: 0;
            right: 50px;
            margin-top: 30px;
            margin-left: 0;

            .item {
                display: block;
                width: 40px;
                height: 25px;
                float: left;
                margin-left: 80px;
            }

            .vul {
                font-size: 16px;
                color: #767676;
            }

            :hover {
                color: #668aca;
                font-size: 18px;
                border-bottom: 1px solid #668aca;
            }
        }

    }

}
.banner {
    width: 100%;
    height: 1100px;
    // background-color: aquamarine;
    overflow: hidden;

    .domo {
        position: relative;
        width: 1200px;
        height: 100%;
        // background-color: yellowgreen;
        margin: 0 auto;
        margin-top: 100px;

        .domo-box {
            width: 180px;
            height: 20px;
            line-height: 40px;

            .domo-msg {
                color: #767676;
                font-size: 14px;
            }

            .domo-trick {
                margin-left: 95px;
                margin-top: -42px;
            }

            .domo-news {
                font-size: 14px;
                margin-left: 115px;
                margin-top: -38px;

                a {
                    color: #7a9ad1;
                }
            }
        }

        .logo {
            position: absolute;
            left: 0;
            top: 80px;
            width: 600px;
            height: 400px;
            background: url(../img/XW-1.png) no-repeat center;
        }

        .logo2 {
            position: absolute;
            left: 0;
            top: 510px;
            width: 600px;
            height: 400px;
            background: url(../img/XW-2.png) no-repeat center;
        }

        .msg {
            position: absolute;
            top: 80px;
            right: 70px;
            width: 500px;
            height: 700px;
            //  background-color: #7a9ad1;
        }

        .list {
            display: block;
            width: 100%;
            height: 80px;
            margin-bottom: 80px;

            .list-1 {
                font-size: 18px;
                color: #6b6b6b;
                margin-bottom: 5px;
            }

            .list-2 {
                text-align: right;
                font-size: 18px;
                color: #6b6b6b;
                margin-top: -25px;
            }

            .list-3 {
                font-size: 14px;
                color: #989898;
                line-height: 30px;
            }
        }
    }
}

.end {
    width: 100%;
    height: 263px;
    background-color: #f7f7f7;

    .end-msg {
        position: relative;
        width: 1200px;
        height: 100%;
        // background-color: #f7f;
        margin: 0 auto;

        .end-ware {
            position: absolute;
            left: 0;
            top: 100px;
            width: 385px;
            height: 85px;
            background-color: #f7f7f7;

            p {
                font-size: 16px;
                color: #767676;
                text-align: center;
                line-height: 50px;
            }

            .end-box {
                position: absolute;
                left: 110px;
                width: 200px;
                height: 25px;

                .end-item {

                    float: left;
                    display: block;
                    width: 25px;
                    height: 25px;
                    margin-left: 20px;
                }
            }

        }

        .end-adress {
            position: absolute;
            left: 385px;
            top: 100px;
            width: 433px;
            height: 85px;
            background-color: #f7f7f7;
            border-left: 1px solid #767676;

            p {

                font-size: 14px;
                color: #767676;
                line-height: 30px;
                text-align: left;
                margin-left: 100px;
            }
        }

        .end-phone {
            position: absolute;
            top: 100px;
            right: 0;
            width: 382px;
            height: 85px;
            background-color: #f7f7f7;
            border-left: 1px solid #767676;

            p {

                font-size: 14px;
                color: #767676;
                line-height: 30px;
                text-align: left;
                margin-left: 60px;
            }
        }
    }
}

