@import "rest.scss";


.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color:#fff;
    z-index: 999;
    .Navigation{
        position: relative;
        width: 1200px;
        height: 100px;
        background-color:#fff;
        margin: 0 auto;
        .list{
            display: none;
        }
        .Label{
            position: absolute;
            top: 0;
            right: 50px;
            margin-top: 30px;
            margin-left: 0;
            .item{ 
                display: block;
                width: 40px;
                height: 25px;
                float: left;
                margin-left: 80px;  
            }
             .vul{
                   font-size: 16px;
                   color: #767676;
            }
            :hover{
                color: #668aca;
                font-size: 18px;
                border-bottom: 1px solid #668aca;
            }
        }
        .mobile{
            display: none;
        }
        
    }
    
}
.logo{
    width: 100%;
    height: 700px;
    // background-color: #668aca;
    img{
        width: 100%;
        height: 100%;
    }
}
.banner {
    width: 100%;
    // height: 4238px;s
    height: 100%;
    margin-top: 40px;

    .center {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        .show {
            position: relative;
            width: 100%;
            height: 574px;
            background-color: #fff;

            .msg {
                display: block;
                width: 120px;
                height: 35px;
                font-size: 30px;
                color: #767676;
                line-height: 150px;
            }

            .text {
                font-size: 12px;
                color: #767676;
                line-height: 150px;
            }

            .mouse {
                position: absolute;
                left: 0;
                top: 120px;
                display: block;
                width: 40px;
                height: 1px;
                background-color: #767676;
            }

            .trick {
                position: absolute;
                right: 0;
                top: 105px;
                display: block;
                width: 300px;
                height: 1px;
                background-color: #767676;
            }
            .banner-adress {
                position: absolute;
                top: 178px;
                right: 460px;
                height: 25px;
                width:1200px;
                margin-right: -223px;
                //  background-color: #668aca; 
                .ban-box{
                   position: absolute;
                   left: 550px; 
                   top: -30px;
                   .banner-list {
                       left: 300px;
                       float: left;
                       display: block;
                       width: 100px;
                       height: 100%;
                       text-align: center;

                       &:nth-child(2) {
                           border-left: 1px solid #767676;
                           border-right: 1px solid #767676;
                       }

                       &:nth-child(3) {
                           border-left: 1px solid #767676;
                           border-right: 1px solid #767676;
                       }

                       &:nth-child(4) {
                           border-left: 1px solid #767676;
                       }

                       .ban-liw {
                           color: #767676;
                           font-size: 14px;

                           &:hover {
                               color: #668aca;
                               font-size: 18px;
                               border-bottom: 1px solid #668aca;
                           }
                       }
                   }
                }
                .ban-de{
                    // >div{
                    //     display: none;
                    // }
                    .ban-ul {
                        display: none;
                        position: absolute;
                        left: 200px;
                        width: 100%;
                        height: 450px;
                        overflow: hidden;

                        .banner-demo {
                            width: 100%;
                            height: 300px;
                            margin-top: 50px;
                            //    background-color: #7a9ad1;

                            .demo-list {
                                position: relative;
                                display: block;
                                width: 360px;
                                height: 300px;
                                // background-color: aquamarine;
                                float: left;
                                margin-top: 50px;
                                margin-left: 40px;

                                .demo-photo {
                                    width: 350px;
                                    height: 180px;
                                    border-radius: 10px;
                                    background-size: cover;
                                    overflow: hidden;

                                    >img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .demo-msg {
                                    margin-top: 20px;
                                    width: 360px;
                                    height: 40px;
                                    background-color: #fff;
                                    z-index: 99;

                                    .demo-temp {
                                        position: absolute;
                                        left: 20px;
                                        font-size: 14px;
                                        color: #767676;

                                    }

                                    .demo-temp1 {
                                        position: absolute;
                                        left: 20px;
                                        font-size: 12px;
                                        color: #767676;
                                    }

                                }

                                .demo-temp2 {
                                    position: absolute;
                                    right: 20px;
                                    bottom: 120px;
                                    display: block;
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50%;
                                    border: 1px solid #e6e6e6;
                                    background-color: #fff;
                                    transform: rotate(270deg);
                                    margin-left: 20px;
                                    z-index: 99;

                                    .demo-temp3 {
                                        text-align: center;
                                        margin-top: 8px;
                                        color: #767676;
                                    }
                                }

                                .demo-active {
                                    position: absolute;
                                    left: -11px;
                                    top: 0;
                                    display: none;
                                    height: 250px;
                                    width: 360px;

                                    >img {
                                        height: 100%;
                                        width: 100%;

                                    }

                                }

                                &:hover {
                                    .demo-active {
                                        display: block;
                                        border-radius: 15px;
                                        background: rgba(0, 0, 0, .4);

                                    }

                                    .demo-msg {
                                        position: absolute;
                                        top: 50px;
                                        background: rgba(0, 0, 0, .0);

                                        >span {
                                            color: #000;
                                        }

                                    }

                                    .demo-temp2 {
                                        position: absolute;
                                        top: 170px;
                                        right: 40px;

                                    }
                                }

                            }
                        }
                    }
                }
  

            }
           
            
        }

        .commodity {
            position: relative;
            width: 100%;
            height: 1250px;

            // background-color: chartreuse;
            .msg {
                display: block;
                width: 120px;
                height: 35px;
                font-size: 30px;
                color: #767676;
                line-height: 240px;
            }

            .text {
                font-size: 12px;
                color: #767676;
                line-height: 220px;
            }

            .mouse {
                position: absolute;
                left: 0;
                top: 160px;
                display: block;
                width: 40px;
                height: 1px;
                background-color: #767676;
            }

            .trick {
                position: absolute;
                right: 0;
                top: 155px;
                display: block;
                width: 300px;
                height: 1px;
                background-color: #767676;
            }

            .household {
                width: 100%;
                height: 110px;
                margin-top: -50px;

                .picture {
                    position: relative;
                    width: 170px;
                    height: 110px;
                    float: left;
                    margin-left: 60px;

                    .index {
                        position: absolute;
                        top: 0px;
                        left: 20px;
                        width: 130px;
                        height: 84px;
                    }

                    >p {
                        font-size: 14px;
                        color: #767676;
                        text-align: center;
                        line-height: 200px;
                    }

                    >span {
                        position: absolute;
                        top: 108px;
                        left: 70px;
                        display: none;
                        width: 20px;
                        height: 1px;
                        background-color: #767676;
                    }

                    &:hover {
                        .index {
                            background-color: #94adda;
                            border-radius: 10px;
                        }

                        p {
                            color: #94adda;
                        }

                        span {
                            display: block;
                            background-color: #94adda;
                        }
                    }
                }
            }
            .b-total{
                width: 100%;
                height: 100%;
                .total-line {
                    width: 100%;
                    height: 100%;
                    float: left;
                    display: none;
                    .total {
                        display: block;
                        width: 100%;
                        height: 1086px;

                        // background-color: red;
                        .total-list {
                            position: relative;
                            float: left;
                            display: block;
                            width: 350px;
                            height: 370px;
                            margin-left: 30px;
                            margin-top: 50px;
                            >img{
                                margin-top: 40px;   
                                 width: 100%;
                                 height: 320px;
                             }
                            .total-msg {
                                span {
                                    text-align: left;
                                    margin-left: 50px;
                                }
                            }

                            .active {
                                position: absolute;
                                top: 50px;
                                left: 0px;
                                display: none;
                                width: 350px;
                                height: 320px;
                                border-radius: 10px;
                                background: rgba(0, 0, 0, 0.5);

                                .active-trick {
                                    position: absolute;
                                    top: 120px;
                                    display: block;
                                    width: 80px;
                                    height: 2px;
                                    background-color: #f8f8f8;
                                }

                                .active-msg {
                                    position: absolute;
                                    top: 95px;
                                    left: 100px;
                                    font-size: 35px;
                                    color: #f8f8f8;
                                }
                            }

                            &:hover {
                                .active {
                                    display: block;
                                }

                                .total-msg {
                                    position: absolute;
                                    top: 200px;
                                    line-height: 30px;
                                    color: black;
                                }
                            }
                        }
                    }
                }
                
            }
            

        }

        .area {
            position: relative;
            width: 100%;
            height: 900px;

            // background-color: rebeccapurple;
            .msg {
                position: absolute;
                top:50px;
                display: block;
                width: 120px;
                height: 35px;
                font-size: 30px;
                color: #767676;
            }
            .text {
                position: absolute;
                left: 0;
                top: 85px;
                font-size: 12px;
                color: #767676;
            }

            .mouse {
                position: absolute;
                left: 0;
                top: 100px;
                display: block;
                width: 40px;
                height: 1px;
                background-color: #767676;
            }

            .trick {
                position: absolute;
                right: 0;
                top: 95px;
                display: block;
                width: 300px;
                height: 1px;
                background-color: #767676;
            }

            .serve {
                // display: none;
                position: absolute;
                top: 200px;
                left: -355px;
                width: 1900px;
                height: 700px;
                background: url(../img/FWlogo.png) no-repeat center;
                background-size: cover;

                .s-text {
                    position: absolute;
                    left: 355px;
                    top: 125px;
                    font-size: 30px;
                    color: #fff;

                }

                .s-eng {
                    position: absolute;
                    left: 355px;
                    top: 200px;
                    font-size: 14px;
                    color: #fff;
                }

                .f-box {
                    position: absolute;
                    bottom: 125px;
                    left: 555px;
                    width: 1000px;
                    height: 150px;

                    .value {
                        position: relative;
                        float: left;
                        width: 248px;
                        height: 148px;
                        border: 1px solid #767676;

                        .demo {
                            font-size: 16px;
                            color: #fff;
                            text-align: center;
                            line-height: 80px;
                        }

                        .demo1 {
                            position: absolute;
                            left: 50%;
                            top: 65px;
                            display: block;
                            width: 35px;
                            height: 1px;
                            background-color: #fff;
                            margin-left: -22px;

                        }

                        .demo2 {
                            text-align: center;
                            font-size: 12px;
                            color: #fff;
                        }

                        &:hover {
                            background-color: #668aca;
                        }
                    }
                }
            }
        }

        .licker {
            position: relative;
            width: 100%;
            height: 746px;

            .msg {
                display: block;
                width: 120px;
                height: 35px;
                font-size: 30px;
                color: #767676;
                line-height: 200px;
            }

            .text {
                font-size: 12px;
                color: #767676;
                line-height: 180px;
            }

            .mouse {
                position: absolute;
                left: 0;
                top: 135px;
                display: block;
                width: 40px;
                height: 1px;
                background-color: #767676;
            }

            .trick {
                position: absolute;
                right: 0;
                top: 130px;
                display: block;
                width: 300px;
                height: 1px;
                background-color: #767676;
            }

            .viruses {
                position: absolute;
                top: 180px;
                width: 570px;
                height: 270px;
                background: url(../img/ZF-1.png) no-repeat center;
                .vire-unm{
                    display: none;
                    width: 100%;
                    height: 90px;
                    background: rgba(0, 0, 0, .4);  
                    margin-top: 180px;
                   .vire-index{
                       width: 300px;
                       height: 100%;
                       margin-left: 45px;
                        .vire-mis {
                            font-size: 18px;
                            color: #fff;
                            line-height: 40px;
                        }
                        .vire-mis1{
                            font-size: 12px;
                            color: #fff;
                            line-height: 20px;
                        }
                   }
                   .vire-rote{
                       position: absolute;
                       right: 50px;
                       bottom: 20px;
                       display: block;
                       width: 30px;
                       height: 30px;
                       border-radius: 50%;
                       background-color: #fff;
                       font-size: 30px;
                       text-align: center;
                       line-height: 25px;
                   }
                }
                &:hover{
                    .vire-unm{
                        display: block;
                    }
                }
            }

            .l-box {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 270px;
                height: 270px;
            }

            .l-box1 {
                position: absolute;
                bottom: 0;
                left: 300px;
                width: 270px;
                height: 270px;
            }

            .xx-box {
                position: absolute;
                right: 0;
                top: 175px;
                width: 570px;
                height: 570px;
                background: url(../img/ZF-4.png) no-repeat center;
            }
        }
        .last {
            position: relative;
            width: 100%;
            height: 760px;

            // background-color: red;
            .msg {
                display: block;
                width: 120px;
                height: 35px;
                font-size: 30px;
                color: #767676;
                line-height: 240px;
            }

            .text {
                font-size: 12px;
                color: #767676;
                line-height: 240px;
            }

            .mouse {
                position: absolute;
                left: 0;
                top: 165px;
                display: block;
                width: 40px;
                height: 1px;
                background-color: #767676;
            }

            .trick {
                position: absolute;
                right: 0;
                top: 155px;
                display: block;
                width: 300px;
                height: 1px;
                background-color: #767676;
            }

            .last-logo {
                width: 500px;
                height: 300px;
                background: url(../img/GY.png) no-repeat center;
            }

            .last-msg {
                position: absolute;
                right: 0;
                bottom: 185px;
                width: 700px;
                height: 300px;

                //    background-color: antiquewhite;
                p {
                    font-size: 14px;
                    color: #767676;
                    text-align: left;
                    line-height: 25px;
                    margin-top: 30px;
                    margin-left: 25px;
                }
            }
        }


    }
}
.end {
    width: 100%;
    height: 263px;
    background-color: #f7f7f7;

    .end-msg {
        position: relative;
        width: 1200px;
        height: 100%;
        // background-color: #f7f;
        margin: 0 auto;

        .end-ware {
            position: absolute;
            left: 0;
            top: 100px;
            width: 385px;
            height: 85px;
            background-color: #f7f7f7;

            p {
                font-size: 16px;
                color: #767676;
                text-align: center;
                line-height: 50px;
            }

            .end-box {
                position: absolute;
                left: 110px;
                width: 200px;
                height: 25px;

                .end-item {

                    float: left;
                    display: block;
                    width: 25px;
                    height: 25px;
                    margin-left: 20px;
                }
            }

        }

        .end-adress {
            position: absolute;
            left: 385px;
            top: 100px;
            width: 433px;
            height: 85px;
            background-color: #f7f7f7;
            border-left: 1px solid #767676;

            p {

                font-size: 14px;
                color: #767676;
                line-height: 30px;
                text-align: left;
                margin-left: 100px;
            }
        }

        .end-phone {
            position: absolute;
            top: 100px;
            right: 0;
            width: 382px;
            height: 85px;
            background-color: #f7f7f7;
            border-left: 1px solid #767676;

            p {

                font-size: 14px;
                color: #767676;
                line-height: 30px;
                text-align: left;
                margin-left: 60px;
            }
        }
    }
}