* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 99;
  overflow: hidden; }
  .header .Navigation {
    position: relative;
    width: 1200px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto; }
    .header .Navigation .Label {
      position: absolute;
      top: 0;
      right: 50px;
      margin-top: 30px;
      margin-left: 0; }
      .header .Navigation .Label .item {
        display: block;
        width: 40px;
        height: 25px;
        float: left;
        margin-left: 80px; }
      .header .Navigation .Label .vul {
        font-size: 16px;
        color: #767676; }
      .header .Navigation .Label :hover {
        color: #668aca;
        font-size: 18px;
        border-bottom: 1px solid #668aca; }

.logo {
  width: 100%;
  height: 400px;
  overflow: hidden; }
  .logo .logo-bac {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background: url(../img/XM-logo.png) no-repeat center;
    margin-top: 100px; }

.banner {
  width: 100%;
  height: 3335px; }
  .banner .banner-head {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .banner .banner-head .banner-bad {
      position: relative;
      width: 100%;
      height: 1020px;
      overflow: hidden; }
      .banner .banner-head .banner-bad .domo-box {
        width: 180px;
        height: 20px;
        line-height: 40px;
        margin-top: 30px; }
        .banner .banner-head .banner-bad .domo-box .domo-msg {
          color: #767676;
          font-size: 14px; }
        .banner .banner-head .banner-bad .domo-box .domo-trick {
          margin-left: 95px;
          margin-top: -42px; }
        .banner .banner-head .banner-bad .domo-box .domo-news {
          font-size: 14px;
          margin-left: 115px;
          margin-top: -38px; }
          .banner .banner-head .banner-bad .domo-box .domo-news a {
            color: #7a9ad1; }
      .banner .banner-head .banner-bad .banner-adress {
        position: absolute;
        top: 30px;
        right: 0;
        height: 25px;
        width: 600px;
        margin-right: -130px;
        overflow: hidden; }
        .banner .banner-head .banner-bad .banner-adress .banner-list {
          float: left;
          display: block;
          width: 100px;
          height: 100%;
          text-align: center; }
          .banner .banner-head .banner-bad .banner-adress .banner-list:nth-child(2) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-bad .banner-adress .banner-list:nth-child(3) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-bad .banner-adress .banner-list:nth-child(4) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-bad .banner-adress .banner-list > a {
            color: #767676;
            font-size: 14px; }
            .banner .banner-head .banner-bad .banner-adress .banner-list > a:hover {
              border-bottom: 1px solid #668aca;
              color: #668aca; }
      .banner .banner-head .banner-bad .total {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .banner .banner-head .banner-bad .total .total-list {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 300px;
          margin-left: 35px;
          margin-top: 90px; }
          .banner .banner-head .banner-bad .total .total-list .total-msg {
            font-size: 16px;
            color: #767676; }
            .banner .banner-head .banner-bad .total .total-list .total-msg span {
              text-align: left;
              margin-left: 50px; }
          .banner .banner-head .banner-bad .total .total-list .active {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            width: 360px;
            height: 320px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5); }
            .banner .banner-head .banner-bad .total .total-list .active .active-trick {
              position: absolute;
              top: 120px;
              display: block;
              width: 80px;
              height: 2px;
              background-color: #f8f8f8; }
            .banner .banner-head .banner-bad .total .total-list .active .active-msg {
              position: absolute;
              top: 95px;
              left: 100px;
              font-size: 35px;
              color: #f8f8f8; }
          .banner .banner-head .banner-bad .total .total-list:hover .active {
            display: block; }
          .banner .banner-head .banner-bad .total .total-list:hover .total-msg {
            position: absolute;
            top: 200px;
            line-height: 30px;
            color: black; }
    .banner .banner-head .banner-sofa {
      position: relative;
      width: 100%;
      height: 550px;
      overflow: hidden;
      margin-top: 50px; }
      .banner .banner-head .banner-sofa .domo-box {
        width: 180px;
        height: 20px;
        line-height: 40px;
        margin-top: 30px; }
        .banner .banner-head .banner-sofa .domo-box .domo-msg {
          color: #767676;
          font-size: 14px; }
        .banner .banner-head .banner-sofa .domo-box .domo-trick {
          margin-left: 95px;
          margin-top: -42px; }
        .banner .banner-head .banner-sofa .domo-box .domo-news {
          font-size: 14px;
          margin-left: 115px;
          margin-top: -38px; }
          .banner .banner-head .banner-sofa .domo-box .domo-news a {
            color: #7a9ad1; }
      .banner .banner-head .banner-sofa .banner-adress {
        position: absolute;
        top: 30px;
        right: 0;
        height: 25px;
        width: 600px;
        margin-right: -130px;
        overflow: hidden; }
        .banner .banner-head .banner-sofa .banner-adress .banner-list {
          float: left;
          display: block;
          width: 100px;
          height: 100%;
          text-align: center; }
          .banner .banner-head .banner-sofa .banner-adress .banner-list:nth-child(2) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-sofa .banner-adress .banner-list:nth-child(3) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-sofa .banner-adress .banner-list:nth-child(4) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-sofa .banner-adress .banner-list > a {
            color: #767676;
            font-size: 14px; }
            .banner .banner-head .banner-sofa .banner-adress .banner-list > a:hover {
              border-bottom: 1px solid #668aca;
              color: #668aca; }
      .banner .banner-head .banner-sofa .total {
        display: block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin-top: 30px; }
        .banner .banner-head .banner-sofa .total .total-list {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 320px;
          margin-left: 35px; }
          .banner .banner-head .banner-sofa .total .total-list > img {
            width: 350px;
            height: 100%; }
          .banner .banner-head .banner-sofa .total .total-list .total-msg {
            width: 350px;
            height: 75px;
            font-size: 16px;
            color: #767676; }
            .banner .banner-head .banner-sofa .total .total-list .total-msg span {
              text-align: center;
              margin-left: 100px; }
          .banner .banner-head .banner-sofa .total .total-list .active {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            width: 360px;
            height: 280px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5); }
            .banner .banner-head .banner-sofa .total .total-list .active .active-trick {
              position: absolute;
              top: 120px;
              display: block;
              width: 80px;
              height: 2px;
              background-color: #f8f8f8; }
            .banner .banner-head .banner-sofa .total .total-list .active .active-msg {
              position: absolute;
              top: 95px;
              left: 100px;
              font-size: 35px;
              color: #f8f8f8; }
          .banner .banner-head .banner-sofa .total .total-list:hover .active {
            display: block; }
          .banner .banner-head .banner-sofa .total .total-list:hover .total-msg {
            position: absolute;
            top: 200px;
            line-height: 30px;
            color: black; }
    .banner .banner-head .banner-chair {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      margin-top: 50px; }
      .banner .banner-head .banner-chair .domo-box {
        width: 180px;
        height: 20px;
        line-height: 40px;
        margin-top: 30px; }
        .banner .banner-head .banner-chair .domo-box .domo-msg {
          color: #767676;
          font-size: 14px; }
        .banner .banner-head .banner-chair .domo-box .domo-trick {
          margin-left: 95px;
          margin-top: -42px; }
        .banner .banner-head .banner-chair .domo-box .domo-news {
          font-size: 14px;
          margin-left: 115px;
          margin-top: -38px; }
          .banner .banner-head .banner-chair .domo-box .domo-news a {
            color: #7a9ad1; }
      .banner .banner-head .banner-chair .banner-adress {
        position: absolute;
        top: 30px;
        right: 0;
        height: 25px;
        width: 600px;
        margin-right: -130px;
        overflow: hidden; }
        .banner .banner-head .banner-chair .banner-adress .banner-list {
          float: left;
          display: block;
          width: 100px;
          height: 100%;
          text-align: center; }
          .banner .banner-head .banner-chair .banner-adress .banner-list:nth-child(2) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-chair .banner-adress .banner-list:nth-child(3) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-chair .banner-adress .banner-list:nth-child(4) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-chair .banner-adress .banner-list > a {
            color: #767676;
            font-size: 14px; }
            .banner .banner-head .banner-chair .banner-adress .banner-list > a:hover {
              border-bottom: 1px solid #668aca;
              color: #668aca; }
      .banner .banner-head .banner-chair .total {
        display: block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin-top: 50px; }
        .banner .banner-head .banner-chair .total .total-list {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 320px;
          margin-left: 35px; }
          .banner .banner-head .banner-chair .total .total-list > img {
            width: 350px;
            height: 100%; }
          .banner .banner-head .banner-chair .total .total-list .total-msg {
            width: 350px;
            height: 75px;
            font-size: 16px;
            color: #767676; }
            .banner .banner-head .banner-chair .total .total-list .total-msg span {
              text-align: center;
              margin-left: 100px; }
          .banner .banner-head .banner-chair .total .total-list .active {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            width: 360px;
            height: 280px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5); }
            .banner .banner-head .banner-chair .total .total-list .active .active-trick {
              position: absolute;
              top: 120px;
              display: block;
              width: 80px;
              height: 2px;
              background-color: #f8f8f8; }
            .banner .banner-head .banner-chair .total .total-list .active .active-msg {
              position: absolute;
              top: 95px;
              left: 100px;
              font-size: 35px;
              color: #f8f8f8; }
          .banner .banner-head .banner-chair .total .total-list:hover .active {
            display: block; }
          .banner .banner-head .banner-chair .total .total-list:hover .total-msg {
            position: absolute;
            top: 200px;
            line-height: 30px;
            color: black; }
    .banner .banner-head .banner-box {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      margin-top: 50px; }
      .banner .banner-head .banner-box .domo-box {
        width: 180px;
        height: 20px;
        line-height: 40px;
        margin-top: 50px; }
        .banner .banner-head .banner-box .domo-box .domo-msg {
          color: #767676;
          font-size: 14px; }
        .banner .banner-head .banner-box .domo-box .domo-trick {
          margin-left: 95px;
          margin-top: -42px; }
        .banner .banner-head .banner-box .domo-box .domo-news {
          font-size: 14px;
          margin-left: 115px;
          margin-top: -38px; }
          .banner .banner-head .banner-box .domo-box .domo-news a {
            color: #7a9ad1; }
      .banner .banner-head .banner-box .banner-adress {
        position: absolute;
        top: 30px;
        right: 0;
        height: 25px;
        width: 600px;
        margin-right: -130px;
        overflow: hidden; }
        .banner .banner-head .banner-box .banner-adress .banner-list {
          float: left;
          display: block;
          width: 100px;
          height: 100%;
          text-align: center; }
          .banner .banner-head .banner-box .banner-adress .banner-list:nth-child(2) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-box .banner-adress .banner-list:nth-child(3) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-box .banner-adress .banner-list:nth-child(4) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-box .banner-adress .banner-list > a {
            color: #767676;
            font-size: 14px; }
            .banner .banner-head .banner-box .banner-adress .banner-list > a:hover {
              border-bottom: 1px solid #668aca;
              color: #668aca; }
      .banner .banner-head .banner-box .total {
        display: block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin-top: 50px; }
        .banner .banner-head .banner-box .total .total-list {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 320px;
          margin-left: 35px; }
          .banner .banner-head .banner-box .total .total-list > img {
            width: 350px;
            height: 100%; }
          .banner .banner-head .banner-box .total .total-list .total-msg {
            width: 350px;
            height: 75px;
            font-size: 16px;
            color: #767676; }
            .banner .banner-head .banner-box .total .total-list .total-msg span {
              text-align: center;
              margin-left: 100px; }
          .banner .banner-head .banner-box .total .total-list .active {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            width: 360px;
            height: 280px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5); }
            .banner .banner-head .banner-box .total .total-list .active .active-trick {
              position: absolute;
              top: 120px;
              display: block;
              width: 80px;
              height: 2px;
              background-color: #f8f8f8; }
            .banner .banner-head .banner-box .total .total-list .active .active-msg {
              position: absolute;
              top: 95px;
              left: 100px;
              font-size: 35px;
              color: #f8f8f8; }
          .banner .banner-head .banner-box .total .total-list:hover .active {
            display: block; }
          .banner .banner-head .banner-box .total .total-list:hover .total-msg {
            position: absolute;
            top: 200px;
            line-height: 30px;
            color: black; }
    .banner .banner-head .banner-light {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      margin-top: 50px; }
      .banner .banner-head .banner-light .domo-box {
        width: 180px;
        height: 20px;
        line-height: 40px;
        margin-top: 50px; }
        .banner .banner-head .banner-light .domo-box .domo-msg {
          color: #767676;
          font-size: 14px; }
        .banner .banner-head .banner-light .domo-box .domo-trick {
          margin-left: 95px;
          margin-top: -42px; }
        .banner .banner-head .banner-light .domo-box .domo-news {
          font-size: 14px;
          margin-left: 115px;
          margin-top: -38px; }
          .banner .banner-head .banner-light .domo-box .domo-news a {
            color: #7a9ad1; }
      .banner .banner-head .banner-light .banner-adress {
        position: absolute;
        top: 30px;
        right: 0;
        height: 25px;
        width: 600px;
        margin-right: -130px;
        overflow: hidden; }
        .banner .banner-head .banner-light .banner-adress .banner-list {
          float: left;
          display: block;
          width: 100px;
          height: 100%;
          text-align: center; }
          .banner .banner-head .banner-light .banner-adress .banner-list:nth-child(2) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-light .banner-adress .banner-list:nth-child(3) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-light .banner-adress .banner-list:nth-child(4) {
            border-left: 1px solid #767676;
            border-right: 1px solid #767676; }
          .banner .banner-head .banner-light .banner-adress .banner-list > a {
            color: #767676;
            font-size: 14px; }
            .banner .banner-head .banner-light .banner-adress .banner-list > a:hover {
              border-bottom: 1px solid #668aca;
              color: #668aca; }
      .banner .banner-head .banner-light .total {
        display: block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin-top: 50px; }
        .banner .banner-head .banner-light .total .total-list {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 320px;
          margin-left: 35px; }
          .banner .banner-head .banner-light .total .total-list > img {
            width: 350px;
            height: 100%; }
          .banner .banner-head .banner-light .total .total-list .total-msg {
            width: 350px;
            height: 75px;
            font-size: 16px;
            color: #767676; }
            .banner .banner-head .banner-light .total .total-list .total-msg span {
              text-align: center;
              margin-left: 100px; }
          .banner .banner-head .banner-light .total .total-list .active {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            width: 360px;
            height: 280px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5); }
            .banner .banner-head .banner-light .total .total-list .active .active-trick {
              position: absolute;
              top: 120px;
              display: block;
              width: 80px;
              height: 2px;
              background-color: #f8f8f8; }
            .banner .banner-head .banner-light .total .total-list .active .active-msg {
              position: absolute;
              top: 95px;
              left: 100px;
              font-size: 35px;
              color: #f8f8f8; }
          .banner .banner-head .banner-light .total .total-list:hover .active {
            display: block; }
          .banner .banner-head .banner-light .total .total-list:hover .total-msg {
            position: absolute;
            top: 200px;
            line-height: 30px;
            color: black; }

.end {
  width: 100%;
  height: 263px;
  background-color: #f7f7f7; }
  .end .end-msg {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .end .end-msg .end-ware {
      position: absolute;
      left: 0;
      top: 100px;
      width: 385px;
      height: 85px;
      background-color: #f7f7f7; }
      .end .end-msg .end-ware p {
        font-size: 16px;
        color: #767676;
        text-align: center;
        line-height: 50px; }
      .end .end-msg .end-ware .end-box {
        position: absolute;
        left: 110px;
        width: 200px;
        height: 25px; }
        .end .end-msg .end-ware .end-box .end-item {
          float: left;
          display: block;
          width: 25px;
          height: 25px;
          margin-left: 20px; }
    .end .end-msg .end-adress {
      position: absolute;
      left: 385px;
      top: 100px;
      width: 433px;
      height: 85px;
      background-color: #f7f7f7;
      border-left: 1px solid #767676; }
      .end .end-msg .end-adress p {
        font-size: 14px;
        color: #767676;
        line-height: 30px;
        text-align: left;
        margin-left: 100px; }
    .end .end-msg .end-phone {
      position: absolute;
      top: 100px;
      right: 0;
      width: 382px;
      height: 85px;
      background-color: #f7f7f7;
      border-left: 1px solid #767676; }
      .end .end-msg .end-phone p {
        font-size: 14px;
        color: #767676;
        line-height: 30px;
        text-align: left;
        margin-left: 60px; }

/*# sourceMappingURL=proguct.css.map */
