.top{
    width: 100%;
    height: 80px;
}
.top .top-arr{
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    background: url(../img/manlv22.png) no-repeat left;
}
.top .top-arr .top-mas{
    position: absolute;
    top: 0;
    right:0;
    margin-top: 30px;
}
.top .top-arr .top-mas li{
    float: left;
    margin-left: 80px;
}
.top .top-arr .top-mas li a{
    display: block;
    width: 65px;
    height: 36px;
    color: #818181;
    text-align: center;
}
.top .top-arr .top-mas li a:hover{
    border-bottom: 2px solid #04e4f8;
    color: #04e4f8;
}
.connet{
    width: 100%;
    height: 1190px;
}
.connet .connet-arr{
    position: relative;
    width: 1200px;
    height: 1190px;
    background-color: palegreen;
    margin: 0 auto;
}
.connet .connet-arr .arr-was{
    position: absolute;
    top: 100px;
    left: 0;
    font-size: 22px;
    color: #323232;
}
.connet .connet-arr .arr-was1{
    position: absolute;
    top: 130px;
    left: 0;
    color: #b7b1b1;
}
.connet .connet-arr .connet-arrive{
  position: absolute;
  left: 0;
  top: 205px;
  width: 1200px;
  height: 250px;
  background-color: aquamarine;
}
.connet .connet-arr .connet-arrive .arrive-1{
    width: 538px;
    height: 100%;
    background: url(../img/360-253.png) no-repeat left;
    overflow: hidden;
}
.connet .connet-arr .connet-arrive .arrive-1 .arrive-2{
    color: #3a3a3a;
    text-align: right;
    line-height: 50px;
}
.connet .connet-arr .connet-arrive .arrive-1 .arrive-3{
    font-size: 14px;
    color: #727171;
    text-align: right;
    margin-top: -25px;
    margin-right: 80px;
}
.connet .connet-arr .connet-arrive .arrive-1  .arrive-4 li{
    float: right;
    margin-left: 10px;
    border: 1px solid #727171;
    font-size: 14px;
    color: #474646;
}

