.header{
    width: 100%;
    height: 476px;
    background:  url(../img/shang.png) no-repeat center;
}
.header .header-top{
    position: relative;
    width: 1200px;
    height: 62px;
    margin: 0 auto;
    background: #141414 url(img/sheying1.png) no-repeat left;
}
.header .header-mas{
    position: absolute;
    top: 0;
    right:20px;
    margin-top: 20px;
}
.header .header-mas li{
    float: left;
    font-size: 16px;
    margin-left: 30px;
}
.header .header-top .header-mas li a{
    display: block;
    width: 65px;
    height: 36px;
    color: #525252;
    text-align: center;
}
.header .header-top .header-mas .yy{
    margin-right: -20px;
}
.header .header-top .header-mas li a:hover{
    border-bottom: 2px solid #dd1717;
    color: #dd1717;
}
.porder{
    width: 100%;
    height: 735px;
    background-color: #161616;
}
.porder .porder-top{
    width: 1200px;
    height: 735px;
    margin: 0 auto;
    background-color: #161616;
    overflow: hidden;
}
.porder .porder-top .porder-city{
    position: relative;
    width: 533px;
    height: 70px;
    margin-left: 30%;
}
.porder .porder-top .porder-city .porder-axia{
    position: absolute;
    top: 50%;
    display: block;
    width: 120px;
    height: 1px;
    background-color: crimson; 
}
.porder .porder-top .porder-city .porder-axia1{
    position: absolute;
    top: 50%;
    display: block;
    width: 120px;
    height: 1px;
    background-color: crimson; 
    margin-left: 412px;
}
.porder .porder-top .porder-city .porder-tera{
    width: 261px;
    height: 100%;
    margin-left: 135px;
}
.porder .porder-top .porder-city  .porder-tera  .pour{
    font-size: 24px;
    color: #dd1717;
    text-align: center;
    line-height: 70px;
}
.porder .porder-top .porder-city  .porder-tera  .pour1{
    font: 16px;
    color: #8c8c8c;
    text-align: center;
    margin-top: -45px;
}
.porder  .porder-top  .porder-footer{
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: aquamarine;
    margin: 50px auto;
}
.porder .porder-top .porder-footer .porder-china{
    width: 168px;
    height: 250px;
    background-color: #222222;
    line-height: 250px;
    text-align: center;
    font-size: 18px;  
}
.porder .porder-top .porder-footer .porder-china a{
    color:#8c8c8c;
}
.porder .porder-top .porder-footer .porder-ama{
    width: 168px;
    height: 250px;
    background-color: #222222;
    line-height: 250px;
    text-align: center;
    font-size: 18px;  
    margin-top: -18px;
}
.porder .porder-top .porder-footer .porder-ama a{
    color:#8c8c8c;
}
.porder .porder-top .porder-footer .porder-ama:hover{
    background-color: #dd1717;
}
.porder .porder-top .porder-footer .porder-china:hover{
    background-color: #dd1717;
}
.porder .porder-top .porder-footer .porder-ama a:hover{
    color:#fff;
}
.porder .porder-top .porder-footer .porder-china a:hover{
    color:#fff;
}
.porder  .porder-top  .porder-footer  .porder-woman{
    position: absolute;
    top: 0;
    left: 168px;
    width: 258px;
    height: 500px;
}
.porder  .porder-top  .porder-footer  .porder-woman .woman-hen{
    display: none;
    position: absolute;
    top: 32px;
    left: 16px;
    width: 225px;
    height: 438px;
    border: 2px solid #dd1717;
}
.porder  .porder-top  .porder-footer  .porder-woman .woman-hen .france{
    font-size: 20px;
    color: #fff;
    line-height: 300px;
    text-align: center;
}
.porder  .porder-top  .porder-footer  .porder-woman .woman-hen .france-1{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top:-160px;
}
.porder  .porder-top  .porder-footer  .porder-woman .woman-hen .france-2{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.porder  .porder-top  .porder-footer  .porder-woman:hover .woman-hen{
    display: block;
}
.porder  .porder-top  .porder-footer  .log1{
    position: absolute;
    top: 0;
    left: 427px;
}
.porder  .porder-top  .porder-footer  .log2{
    position: absolute;
    top: 0;
    right:258px;
}
.porder  .porder-top  .porder-footer  .log3{
    position: absolute;
    top: 0;
    right:0;
}
.footer{
    width: 100%;
    height: 430px;
    background-color: #000;
    margin-top: -20px;
}
.footer .footer-tele{
    position: relative;
    width: 1200px;
    height: 430px;
    margin: 0 auto;
}
.footer .footer-tele .footer-qq{
    position: absolute;
    left: 0;
    top: 40%;
    width: 370px;
    height: 107px;
    font-size: 16px;
    color:#8c8c8c;
    text-align: left;
}
.footer .footer-tele .footer-qq img{
    margin-bottom: 120px;
}
.footer .footer-tele .footer-zheng{
    position: absolute;
    top: 40%;
    left: 368px;
    width: 459px;
    height: 111px;
    font-size: 14px;
    color: #8c8c8c;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    border-right: 1px solid #8c8c8c;
    border-left: 1px solid #8c8c8c;
}
.footer .footer-tele .footer-shouji{
    position: absolute;
    right: 0;
    top: 40%;
    width: 188px;
    height: 107px;
    font-size: 14px;
    color: #8c8c8c;
    text-align:left;
    line-height: 30px;
}
.footer .footer-tele .footer-last{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #161616;
}
.footer .footer-tele .footer-last .last-1{
    font-size: 12px;
    text-align: center;
    line-height: 60px;
}
.footer .footer-tele .footer-last .last-1 a{
    color:white;
}















